flask==2.2.5;python_version<"3.8"
flask==2.3.3;python_version>="3.8"
python-dotenv==0.21.1;python_version<"3.8"
python-dotenv==1.0.0;python_version>="3.8"
rq==1.15.1
redis==5.0.1
jsonschema==4.17.3;python_version<"3.8"
jsonschema==4.21.1;python_version>="3.8"
Werkzeug==2.2.3;python_version<"3.8"
Werkzeug==2.3.8;python_version>="3.8"
