# all
.idea
__pycache__
.DS_Store

# server
server/venv
server/workspace
server/supervisord.*
server/kill_worker_procs
markus_config.rb

# uam
testers/uam-git/
testers/python/uam-git

#java
testers/java/server/.gradle
testers/java/server/build

#racket
testers/racket/**/compiled/

#haskell
markus_cabal
