# all
.idea
__pycache__
.DS_Store
.hypothesis/
.pytest_cache/
*.egg-info
.eggs
venv

# tmp files
.installed

# bin
bin/kill_worker_procs

# server
src/autotester/server/venv
src/autotester/server/workspace
src/autotester/server/bin/kill_worker_procs

# testers
src/autotester/testers/*/specs/.installed
src/autotester/testers/*/specs/install_settings.json

# java
src/autotester/testers/java/lib/.gradle
src/autotester/testers/java/lib/build

# racket
src/autotester/testers/racket/**/compiled/

# haskell
markus_cabal
