# all
.idea
__pycache__
.DS_Store
.hypothesis/
.pytest_cache/
*.egg-info
venv

# bin
bin/kill_worker_procs

# server
server/venv
server/workspace
server/bin/kill_worker_procs

# testers
testers/testers/*/specs/.installed
testers/testers/*/specs/install_settings.json

# java
testers/testers/java/lib/.gradle
testers/testers/java/lib/build

# racket
testers/testers/racket/**/compiled/

# haskell
markus_cabal
